.headerContainer {
  position: relative;
  z-index: 10;
  height: 192px;
}

.header {
  padding-top: 75px;
  padding-bottom: 75px;
}

.logo {
  grid-column: 1;
}

.logo img {
  display: block;
  width: 100%;
}

@media (--mobile) {
  .headerContainer {
    height: auto;
  }

  .header {
    padding-top: 30px;
    padding-bottom: 0;
  }

  .logo {
    grid-column: 1 / span 2;
  }
}
