.container {
  padding-top: 85px;
}

.text {
  grid-column: 1 / span 4;
}

.text h5 {
  margin-bottom: 2.5em;
}

.button {
  margin-top: 35px;
}

@media (--mobile) {
  .text {
    grid-row: 1;
    grid-column: 1 / -1;
  }
}
